* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* part 1 */
.banner-container {
    background-image: url(../images/banner/banner2.png);
    width: 100%;
    height: 125vh;
    background-repeat: no-repeat;
}

.banner-elements {
    text-align: right;
    padding: 210px 230px;

}

.title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.description {
    margin-top: 24px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
    background: #F15B22;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    padding: 5px 20px;
}

/* part 2 */
.banner-2 {
    display: flex;
    padding-left: 100px;
}

.image {
    padding: 130px 50px;
}

.banner-2-content {
    margin-top: 360px;
    margin-right: 100px;

}

.content-title {
    font-weight: 700;
    font-size: 60px;
    color: #151414;
}

.content-description {
    font-size: 16px;
    margin-top: 24px;
}

.list-item {
    list-style: none;
    text-indent: -40px;
    margin-top: 16px;
}


/* part 3 */
.second-banner {
    margin-top: 130px;
    text-align: center;
}

.second-container {
    margin-top: 45px;
    display: flex;
    gap: 86px;


}

.container-item {
    justify-content: space-around;
    padding: 0 50px;

}

.container-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.container-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}


/* Part 4 Lower Banner */
.lower-banner {
    background-image: url(../images/watch.png), url(../images/gradient1.png);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 130px;

}

.lower-title {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin: 30px 120px;
    padding-top: 55px;

}

.lower-button {
    font-size: 20px;
    font-weight: 900;
    color: #005FAC;
    padding: 20px 40px;
    margin: 0 120px;
    border: none;
    border-radius: 7px;
    background-color: white;
}
/* Extra styles */
.cat{
    background: #FFFED5;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 200px;
}
.extra-text{
    margin-bottom: 15px;
    font-weight: 600;
}
.choice-form{
    font-size: larger;

}

/* Part 5 contact styles */

/* left footer   */
.contact{
    display: flex;
    background-color: #151414;
    height: 500px;
    width: 100%;
}
.left-footer {
    padding: 100px;
}
.contact-title{
    color: white;
    font-size: 45px;
    font-weight: 700;
    padding: 10px;
}
.contact-description{
    color: white;
    padding: 10px;
}
.social {
    display: flex;
    padding: 5px 0 0 0
}
.icon {
    padding: 5px;
}
            /* right footer */
.right-footer{
    padding: 100px 150px;
}
.contact-subscribe-title{
    color: white;
    font-size: 25px;
    padding: 5px 0;
}
.email{
    height: 60px;
    width: 300px;
    margin-bottom: 15px;
    color: #F3F3F3;
    font-size: 18px;
    text-indent: 15px;
    font-weight: 700;
    border-radius: 8px;
    border: #FFFFFF;
    background-color: #151414;
    border-style: solid;
    margin-top: 30px;
}
.btn-subscribe{
    font-size: 20px;
    font-weight: 900;
    color: #F15B22;
    background-color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}